.#*
*~
\#*
/build/
.coverage
*.dat
*.dat.maxid
*.db
*.db-journal
/develop
/dist/
.DS_Store
*.egg
*.egg-info/
/env/
HACKING.html
local_config.py
__MACOSX
/myoutput/
output/
*.pyc
README.html
*.sqlite
*.sqlite3
*.swp
